body {
	background-color: #808080;
	font-size: 1.0em;
}

h1 {
	width: 1100px;
	text-align: center;
	font-family: Cursive;
	font-size: 1.9em;
	color: white;
}

h3 {
	width: 1100px;
	text-align: center;
	color: white;
	font-family: Cursive, sans-serif, Courier;
}

h4 {
	color: white;
    font-weight: bold;
    text-decoration: underline;
}

/* Class based definitions follow */

.body_home {
	font-size: .9em;
	color: white;
    width: 1100px;
}

.body_home span {
	font-weight: bold;
}

.menuButton{
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    padding:3px 7px 3px 7px;
    margin-left:15px;
}


.menuButton:hover {
	background-color: #BCD20E; 	
}

/* Id based defintions follow */
#menu {
    width: 1100px;
    text-align: center;
}

#dbTable {
    padding-left: 150px;
    width: 700px;
    height: 350px;
}

#iframe {
    position: relative;
    width: 1150px;
    height: 760px;
    margin-top: 10px;
    font-size: 10px;
}

.chartTitleGlbl {
    position: absolute;
    text-align: center;
    margin-top: -730px;
    line-height: 40px;  
    height: 40px;
    background-color: #808080;
    color: white;
    font-size: 1.2em;
}

#chartTitle {
    width: 500px;
    padding-left: 100px;
}

#chartInfo {
    margin-left: 600px;
    padding-right: 100px;
    height: 40px;
    width: 400px;
}

#footer p {
	color: white;
	font-size: 12px;
}

#form_entry {
	width: 1100px;  /* Make this the same width as the graph */   
}

form {
	color: white;
	font-family: cursive;
	text-align: center;
/*	font-size: 1.2em;*/
}

#error {
    width: 1100px;
    height: 300px;
    padding-top: 200px;
    text-align :center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

#submit {
	background-color: #8080a0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:6px;
	color: #fff;
	font-family: Times;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
	border:1px solid black;
}

#submit:hover {
	background: red;	
}

#image {
    position: relative;
    width: 75px;
    top: -20px;
    /*height: 100px; */
    left: 500px
}

#tableInfo {
    border: 1px;
}



#previous {
	position: relative;
	left: 350px;
	top: 40px;
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 30px;
	width: 120px;
	text-align: center;
} 

#previous:hover {
	background-color: #BCD20E;  
}

#next {
	position: relative;
	left: 600px;
	top: -75px;
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 30px;
	width: 120px;
	text-align: center;
}

#next:hover {
	background-color: #BCD20E;
}

#nextButton {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

#prevButton {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
